<!DOCTYPE html>
{% extends 'portfolio_app/base.html' %}
{% block body_block %}
	<h1>A Short Bio</h1>
    <p class="big">Azat Azamat received his B.S. in Computer Science from <a href="http://www.nu.edu.kz">Nazarbayev University</a>, Kazakhstan.
        Currently, he is studying for a M.S. in Computer Science & Engineering at <a href="http://www.unist.ac.kr">UNIST</a>, Republic of Korea.
        In 2020, he joined <a href="http://iccl.unist.ac.kr">Intelligent Computing & Codesign Lab (ICCL)</a> and started his work under supervision of Prof. Jongeun Lee.
        At ICCL in UNIST, they are mainly concerned with the problems of optimizing system performance and power at the intersection of software and hardware.
        Azat's current research interest include DNN hardware accelerators and efficient deep learning.
    </p>
{% endblock %}
